@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 238.73deg 83.53% 66.67%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 0deg 0% 71.34%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.6rem;
    --invert: 0 0% 0%;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 210 20% 98%;
    --card: 0 0% 8%;
    --card-foreground: 210 20% 98%;
    --popover: 0 0% 8%;
    --popover-foreground: 210 20% 98%;
    --primary: 238.73deg 83.53% 66.67%;
    --primary-foreground: 210 20% 98%;
    --secondary: 0 0% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 15%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 20%;
    --ring: 263.4 100% 70.4%;
    --invert: 0 0% 100%;
  }
}
@layer base {
  html,
  body {
    @apply h-full w-full overflow-hidden flex;
  }
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground overflow-x-hidden dark:bg-[#111];
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-indigo-300 rounded-full;
  }

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  table tr:nth-child(even) {
    @apply bg-[#f9f9f9] dark:bg-background/60;
  }
  table.no-highlight tr:nth-child(even) {
    background-color: transparent;
    background: none;
  }
  ::selection {
    @apply bg-indigo-500/10 dark:bg-indigo-200/10;
  }
  table.no-wrap * {
    @apply whitespace-nowrap;
  }

  table thead tr:hover {
    @apply !bg-indigo-50/10;
  }

  .__line {
    background-position: bottom;
    background-size: 8px 100%;
    background-repeat: repeat-x;
    @apply bg-[linear-gradient(to_right,_theme(colors.invert)_0_10%,rgba(255,255,255,0)_10%)];
  }
  .no-scrollbar::-webkit-scrollbar,
  .no-scrollbar ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .force-remove-style,
  .force-remove-style * {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    outline: none;
    background-color: transparent;
    background: none;
    box-shadow: none;
    box-sizing: border-box;
    text-shadow: none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
  }

  .input-file label {
    @apply rounded;
  }

  .max-h-screen-compatiblity {
    max-height: 100vh;
    max-height: 100svh;
  }
}
